<h1>Listing hats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hats.each do |hat| %>
      <tr>
        <td><%= hat.name %></td>
        <td><%= hat.image %></td>
        <td><%= hat.price %></td>
        <td><%= hat.description %></td>
        <td><%= link_to 'Show', hat %></td>
        <td><%= link_to 'Edit', edit_hat_path(hat) %></td>
        <td><%= link_to 'Destroy', hat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hat', new_hat_path %>
