<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hat.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @hat.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hat.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hat.description %>
</p>

<%= link_to 'Edit', edit_hat_path(@hat) %> |
<%= link_to 'Back', hats_path %>
